
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
table {
    margin: 10px;
    border-collapse: collapse;
    padding: 0px;
}
h5 {
	margin: 5px;
}

button {
    border-radius: 15px;
}

button:hover {
    background-color: #c69797;
}

select {
    float:right;
    background-color:lightgray;
    font: 12px Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

option{
    font: 12px Arial, Helvetica, sans-serif;
}

.legend {
    display: block;
    position: absolute;
    height: 190px;
    width: 250px;
    float: right;
    right: 20px;
    top: 20px;
    z-index: 50;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend i {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#frb {
    color:black;
    font-size:12px;
}

#rmvchk {
    float: right;
    text-align: right;
    color:black;
    font-size:12px;
}

#sc1Container {
    float: right;
    text-align: right;
    color:darkred;
    font-size:12px;
}

#sc2Container {
    float: right;
    text-align: right;
    color:darkblue;
    font-size:12px;
}

#sc3Container {
    float: right;
    text-align: right;
    color:#ad42f4;
    font-size:12px;
}

#p1Container, #p2Containera {
    float: right;
    text-align: right;
    color:darkgreen;
    font-size:12px;
}

#p2Container {
    float: right;
    text-align: right;
    color:goldenrod;
    font-size:12px;
}


@font-face{font-family:'Glyphicons Halflings';src:url("bootstrap/glyphicons-halflings-regular-13634da87d9e23f8c3ed9108ce1724d183a39ad072e73e1b3d8cbf646d2d0407.eot");src:url("bootstrap/glyphicons-halflings-regular-13634da87d9e23f8c3ed9108ce1724d183a39ad072e73e1b3d8cbf646d2d0407.eot?#iefix") format("embedded-opentype"),url("bootstrap/glyphicons-halflings-regular-b.woff") format("woff2"),url("bootstrap/glyphicons-halflings-regular-a.woff") format("woff"),url("bootstrap/glyphicons-halflings-regular-e395044093757d82afcb138957d06a1ea9361bdcf0b442d06a18a8051af57456.ttf") format("truetype"),url("bootstrap/glyphicons-halflings-regular-42f60659d265c1a3c30f9fa42abcbb56bd4a53af4d83d316d6dd7a36903c43e5.svg#glyphicons_halflingsregular") format("svg")}.glyphicon{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.glyphicon-menu-left:before{content:"\e257"}.glyphicon-menu-right:before{content:"\e258"}.glyphicon-menu-down:before{content:"\e259"}.glyphicon-menu-up:before{content:"\e260"}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px;-webkit-tap-highlight-color:transparent}body{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;line-height:1.42857143;color:#333333;background-color:#fff}input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}a{color:#2b48a0;text-decoration:none}a:hover,a:focus{color:#1b2d64;text-decoration:underline}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}figure{margin:0}img{vertical-align:middle}
.ctrl-panel td{padding:3px}
.ctrl-panel{overflow-x:hidden;clear:both}.ctrl-panel input,.ctrl-panel textarea,.ctrl-panel button,.ctrl-panel select{color:black;font-size:12px;overflow:auto}.ctrl-panel select.form-control,.ctrl-panel input.form-control{padding:2px 6px;height:30px}.ctrl-panel{background-color:#f8f8f8;border-right:solid #ccc 1px;border-bottom:solid #ccc 1px;width:20%;max-height:100%;color:#274190;display:block;font-size:12px;left:0;padding:10px;position:absolute;text-align:justify;z-index:10;-webkit-transition:left 0.5s, -webkit-transform 2s;transition:left 0.5s, transform 2s;clear:both; opacity:0.85;}.ctrl-panel table{width:100%}.ctrl-panel input,.ctrl-panel textarea,.ctrl-panel button,.ctrl-panel select{color:black;font-size:12px;overflow:auto}.ctrl-panel input[type=range]{overflow:visible}#toggle-ctrl-panel{cursor:pointer;float:right;padding:0 10px 10px 20px}
.ctrl-panel1 td{padding:3px}
.ctrl-panel1{overflow-x:hidden;clear:both}.ctrl-panel1 input,.ctrl-panel1 textarea,.ctrl-panel1 button,.ctrl-panel1 select{color:black;font-size:12px;overflow:auto}.ctrl-panel1 select.form-control,.ctrl-panel1 input.form-control{padding:2px 6px;height:30px}.ctrl-panel1{background-color:#f8f8f8;border-left:solid #ccc 1px;border-bottom:solid #ccc 1px;width:20%;max-height:100%;color:#274190;display:block;font-size:12px;right:0;padding:10px;position:absolute;text-align:justify;z-index:10;-webkit-transition:right 0.5s, -webkit-transform 2s;transition:right 0.5s, transform 2s;clear:both; text-align:right; opacity:0.85;}.ctrl-panel1 table{width:100%}.ctrl-panel1 input,.ctrl-panel1 textarea,.ctrl-panel1 button,.ctrl-panel1 select{color:black;font-size:12px;overflow:auto}.ctrl-panel1 input[type=range]{overflow:visible}#toggle-ctrl-panel1{cursor:pointer;float:left;padding:10px 20px 0 0}

.compr td{padding:3px}
.compr{overflow-x:hidden;clear:both}.compr input,.compr textarea,.compr button,.compr select{color:black;font-size:12px;overflow:auto}.compr select.form-control,.compr input.form-control{padding:2px 6px;height:30px}.compr{background-color:#f8f8f8;border-left:solid #ccc 1px;border-bottom:solid #ccc 1px;width:20%;max-height:100%;color:#274190;display:block;font-size:12px;left:0;bottom:0;padding:10px;position:absolute;text-align:justify;z-index:10;-webkit-transition:right 0.5s, -webkit-transform 2s;transition:left 0.5s, transform 2s;clear:both; text-align:left; opacity:0.85;}.compr table{width:100%}.compr input,.compr textarea,.compr button,.compr select{color:black;font-size:12px;overflow:auto}.compr input[type=range]{overflow:visible}#toggle-compr{cursor:pointer;float:left;padding:10px 20px 0 0}


#numResults {
text-align: left;
color: red;
}
.txtClass {
float: right;
width:100%;
height: 50%;
text-align: right;
font-size: 9px;
}
h4 {
	margin: 5px;
}

#sqlbox {
    width:80%;
     height:50px;
}

.loader {
  position: absolute;
  left: 50%;
  top: 45%;
  z-index: 16;
  border: 16px solid #fcfcfc;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}

.switch input {display:none;}

#sldr:checked + .slider.round {
  background-color: #2196F3;
}

#sldr:focus + .slider.round {
  box-shadow: 0 0 1px #2196F3;
}

#sldr:checked + .slider.round:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round:before {
  border-radius: 25%;
    position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

summary::-webkit-details-marker {
  color: darkblue;
}
summary:focus {
  outline-style: none;

}
details {
    float:right;
    border:solid;
    border-width:1px;
    border-color:grey;
    padding:5px;
    color:grey;
}
#log {
    position: absolute;
     display: none;
        height:1px;
    width: 400px;
    left: 40%;
    bottom: 0px;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
      background: white;
     background: rgba(255,255,255,0.8);
    padding-left:5px;
    z-index:999;
}